In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()
db=client.test
housing_data = db.housing_data
df = pd.read_csv("State_housing_price_agg.csv") #csv file which you want to import
records_ = df.to_dict(orient = 'records')
result = db.housing_data.insert_many(records_ )
df.head()

  State  Year  Active Listing Count  Avg Listing Price
0    AK  2012               26495.0      301629.249012
1    AL  2012              312875.0      193571.345029
2    AR  2012              148267.0      190982.723735
3    AZ  2012              255573.0      274091.164454
4    CA  2012              815351.0      584730.605448